<form action="/wizard_add">
<h1>New addition</h1>
    <div><label for="addition_firstNum">Add this:</label>
    <input id="addition_firstNum" type="text" name="add_first_num">

    <label for="addition_secondNum">to this:</label>
    <input id="addition_secondNum" type="text" name="add_second_num">

    <button>Add!</button></div>
</form>