<div><h1>Addition</h1></div>

<dl>
<dt>First number</dt>
<dd><%=@add_first_num%></dd>

<dt>Second number</dt>
<dd><%=@add_second_num%></dd>

<dt>Result</dt>
<dd><%=@add_result%></dd>

</dl>

<a href="/add">Do another addition</a>


