<form action="/wizard_multiply">
<div><h1>New multiplication</h1></div>

<div><label for="multiplication_firstNum">Multiply this:</label>
<input id="multiplication_firstNum" type="text" name="multiply_first_num">

<label for="multiplication_secondNum">by this:</label>
<input id="multiplication_secondNum" type="text" name="multiply_second_num">

<button>Multiply!</button></div>

</form>