<div><h1>Multiplication</h1></div>

<dl>

<dt>First number</dt>
<dd><%=@multiply_first_num%></dd>

<dt>Second number</dt>
<dd><%=@multiply_second_num%></dd>

<dt>Result</dt>
<dd><%=@multiply_result%></dd>

</dl>

<a href="/multiply">Do another multiplication</a>