<div><h1>Subtraction</h1></div>

<dl>
<dt>First number</dt>
<dd><%=@subtract_first_num%></dd>

<dt>Second number</dt>
<dd><%=@subtract_second_num%></dd>

<dt>Result</dt>
<dd><%=@subtract_result%></dd>

</dl>

<a href="/subtract">Do another subtraction</a>