<form action="wizard_subtract">
<div><h1>New subtraction</h1></div>
    <div><label for="subtraction_firstNum">Subtract this:</label>
    <input id="subtraction_firstNum" type="text" name="subtract_first_num">

    <label for="subtraction_secondtNum">from this:</label>
    <input id="subtraction_secondtNum" type="text" name="subtract_second_num">  

    <button>Subtract!</button></div>

</form>
